<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
  <div class="container">

    <!-- Add Jumbotron to Header -->
    <div class="jumbotron text-center" style="background-image: url(../static/header_img.png)">
      <h1 style="color:white">Mission to Mars</h1>
      <!-- Add a button to activate scraping script -->
      <p><a class="btn btn-primary btn-lg" style="background-color: #ad6242; border-color: black;" href="/scrape"
          role="button">Get the Latest Info!</a></p>
    </div>

    <!-- Mars News -->
    <div class="row" id="mars-news">
      <div class="col-xs-12">
        <h2>Latest Mars News</h2>
      </div>
      <div class="col-xs-12">
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">{{ mars.news_title }}</h4>
            <p>{{ mars.news_paragraph }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Featured Image and Facts Table -->
    <div class="row" id="mars-featured-image-facts-table">
      <div class="col-xs-12 col-md-6">
        <h2>Featured Mars Image</h2>
        <img src="{{ mars.featured_image }}" class="img-responsive" alt="Responsive image" />
        <br>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="row" id="mars-facts">
          <h2>Mars Facts</h2>
          {{ mars.facts | safe }}
        </div>
      </div>
    </div>
  </div>

  <!-- Mars Hemispheres -->
  <div class="container">
    <div class="row" id="mars-hemispheres">
      <div class="row">
        <h2 class="text-center" style="border-bottom: 1px black">Mars Hemispheres</h2>
        {% for hemisphere in mars.hemispheres %}
        <div class="col-xs-3">
          <div class="thumbnail">
            <img class="center-block img-responsive" src="{{ hemisphere.img_url }}">
            <h5 class="card-title text-center">{{ hemisphere.title }}</h5>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</body>

</html>